@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Vollkorn|Roboto);
/* CSS Document */

html,
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

body {
	margin: auto;
	position: relative;
}

header {
	position: fixed;
	width: 100%;
}

main {
	padding-top: 55px;
}

footer {
	padding: 20px 30px;
}

.header-col {
	padding: 10px;
	position: relative;
	background: rgba(255,255,255,0.75);
	width: 100%;
	height: 55px;
	z-index: 200;
}

.style-logo {
	position: relative;
	height: 35px;
	display: block;
	float: left;
	z-index: 500;
}

/*navbar展開按鈕*/
.button_container {
	position: relative;
	float: right;
	height: 30px;
	width: 35px;
	cursor: pointer;
	z-index: 500;
	transition: opacity .25s ease;
	margin: 5px 10px 0 0;
}

.button_container:hover {
	opacity: .7;
}

.button_container.active .top {
	transform: translateY(10px) translateX(0) rotate(45deg);
	background: #2F322A;
}

.button_container.active .middle {
	opacity: 0;
	background: #2F322A;
}

.button_container.active .bottom {
	transform: translateY(-10px) translateX(0) rotate(-45deg);
	background: #2F322A;
}

span {
	background: #2F322A;
	border: none;
	height: 2px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition:  all .35s ease;
	cursor: pointer;
}

.middle {
	position: absolute;
	top: 10px;
}

.bottom {
	position: absolute;
	top: 20px;
}

.overlay {
	position: fixed;
	background: #FFF;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	opacity: 0;
	visibility: hidden;
	transition: opacity .8s, visibility .35s, height .7s;
	overflow: hidden;
	z-index: 95;
}

.overlay.open {
	opacity: .9;
	visibility: visible;
	height: 100%;
}

.overlay-menu {
	position: relative;
	height: 70%;
	top: 50%;
	transform: translateY(-50%);
	color: #2F322A;
	line-height: 30px;
	font-size: 24px;
	font-weight: 100;
	text-align: center;
}

.overlay-menu ul li {
	margin: 30px;
	list-style: none;
}

.overlay-menu ul li a {
	color: #2F322A;
	text-decoration: none;
}

.overlay-menu ul li a:hover {
	opacity: .7;
	border-bottom: #2F322A 1px solid;
	transition-duration: 0.5s;
}

#gotop {
	position: fixed;
	bottom: 10px;
	right: 10px;
	background: rgba(0,0,0,0.5);
	color: #FFF;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 14px;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: block;
	cursor: pointer;
	z-index: 50;
	transition: opacity .5s;
}

#gotop:hover {
	opacity: .7;
	transition: opacity .5s;
}

.row:before, .row:after {
	content: "";
	display: table;
}

.row:after {
	clear: both;
}

.col {
	width: 100%;
}

.header-col {
	width: 100%;
}

h1 {
	font-size: 48px;
	text-transform: uppercase;
	font-weight: 200;
	margin-bottom: 60px;
}

h2 {
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 200;
	margin-bottom: 50px;
}

h3 {
	font-size: 32px;
	text-transform: uppercase;
	font-weight: 200;
	margin-bottom: 120px;
}

h4 {
	font-size: 24px;
	font-weight: 200;
	margin:50px 0 30px 0;
}

p {
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 1px;
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

.travel {
	background: url(images/travel.jpg) center center no-repeat;
	background-size: cover;
	padding: 50px 20px 50px 20px;
	color: #FFFFFF;
	text-align: center;
	text-shadow: 0 0 50px #555555;
}

.button {
	background-color: hsla(0,0%,60%,0.30);
	border: 2px #FFFFFF solid;
	padding: 8px 30px;
	border-radius: 30px;
	color: #FFFFFF;
	text-decoration: none;
	text-shadow: 0 0 15px #cccccc;
}

.button:hover {
	background-color: hsla(0,0%,90%,0.70);
	transition-duration: 0.5s;
}

.artist {
	background: url(images/artist.jpg) center center;
	background-size: cover;
	color: #FFFFFF;
	padding: 50px 20px 50px 20px;
	text-align: center;
	text-shadow: 0 0 50px #555555;
}

.friends {
	background: url(images/friends.jpg) center 65%;
	background-size: cover;
	color: #FFFFFF;
	padding: 50px 20px 50px 20px;
	text-align: center;
	text-shadow: 0 0 50px #555555;
}

.concert1 {
	background: url(images/concert1.jpg) center center;
	background-size: cover;
	color: #FFFFFF;
	padding: 50px 20px 50px 20px;
	text-align: center;
	text-shadow: 2px 2px 5px #000000;
}

.concert2 {
	background: url(images/concert2.jpg) center 30%;
	background-size: cover;
	color: #FFFFFF;
	padding: 50px 20px 50px 20px;
	text-align: center;
	text-shadow: 2px 2px 5px #000000;
}

.concert3 {
	background: url(images/concert3.jpg) center 30%;
	background-size: cover;
	color: #FFFFFF;
	padding: 50px 20px 50px 20px;
	text-align: center;
	text-shadow: 2px 2px 5px #000000;
}

.footer-text {
	font-size: 14px;
	text-align: center;
}

.album {
	margin: 0px auto;
	width:100%;
	height:500px;
	color: #FFFFFF;
	text-align:left;
	text-shadow: 2px 2px 5px #333333;
	line-height: 500px;
	letter-spacing: 2px;
}

.album p {
	padding-left: 20px;
	font-size: 40px;
	transition: background .5s;
}

.album p:hover {
	background: rgba(255,255,255,0.3);
	transition: background .5s;
}

#travel-album-001 {
	background: url(images/travel.jpg) center center no-repeat;
	background-size: cover;
	
}

#travel-album-002 {
	background: url(images/pics/kaohsiung_2017/01.jpg) center center no-repeat;
	background-size: cover;
	
}

#travel-album-011 {
	background: url(images/pics/runaway/01.jpg) center center no-repeat;
	background-size: cover;
	
}

#travel-album-012 {
	background: url(images/pics/gyouza/01.jpg) center center no-repeat;
	background-size: cover;
	
}

#travel-album-013 {
	background: url(images/pics/lizzie_2016/01.jpg) center center no-repeat;
	background-size: cover;
	
}

#travel-album-021 {
	background: url(images/pics/vivi_2017/01.jpg) center center no-repeat;
	background-size: cover;
	
}

#travel-album-022 {
	background: url(images/pics/lizzie_2016/01.jpg) center center no-repeat;
	background-size: cover;
	
}

.img-show img{
	width: 100%;
}
/*About CSS start*/
.main-about {
	margin-top: 0;
}

.main-content {
	padding: 30px;
	margin: auto;
	text-align: center;
}

.about-pic {
	width: 100%;
	margin: auto;
}

.about-pic img{
	width: 200px;
	height: 200px;
	text-align: center;
	border-radius: 50%;
	margin-bottom: 30px;
}

.about-title p {
	font-size: 20px;
	font-weight: 500;
	line-height: 60px;
}

.about-content {
	text-align: left;
	line-height: 30px;
}

.instagram {
	width: 150px;
	margin: 10px auto;
	padding: 10px;
	border: 1px #000 solid;
	border-radius: 20px;
}

.instagram a{
	width: 100%;
	color: #000;
}

/*About CSS end*/

@media screen and (min-width: 768px) {
	body, header {
		max-width: 778px;
	}

	h1 {
		font-size: 58px;
		margin-bottom: 90px;
	}

	.col {
		float: left;
		padding: 0px 5px 10px 5px;
	}
	
	.col-md-one-half {
		width: 50%;
	}
	
	.col-md-one-third {
		width: 33.3%;
	}

	.img-show {
		width: 90%;
		margin: auto;
	}

	.img-show img {
		width: 100%;
	}

	.main-about {
		margin-top: 50px;
	}

	.main-content {
		width: 50%;
		padding: 0;
	}

}

@media screen and (min-width: 1024px) {
	body, header {
		max-width: 1200px;
	}
	
	.style-logo {
		float: left;
	}
	
	
	h1 {
		font-size: 80px;
	}
	
	.travel {
		height: 500px;
		padding: 200px;
	}
	
	.artist, .friends {
		height: 400px;
		padding: 150px;
	}

	.img-show {
		width: 80%;
		margin: auto;
	}
	
}