@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import 'reset.css';
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}
a,a:hover {text-decoration: none; outline: none; /* for Firefox */
 hlbr:expression(this.onFocus=this.blur()); /* for IE */
}

body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    _height:100%;
    /*background-color: #fff; color: #fff;*/
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    /*background: #1c1c1c;*/
    background: url('https://media.giphy.com/media/A5KN7dA7v5ju8/giphy.gif');
    background-attachment: fixed;
    background-size: cover;

}
.progress {
  background: #000;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 9999999999;
  text-align: center;
  top: 0;
  color: #000; }

.bar {
  width: 280px;
  height: 2px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 25px 0 0 -140px; }

.progress-bar {
  background: #d6b175;
  width: 0%;
  height: 1px;
  display: block;
  overflow: hidden;
  position: relative;
  top: -1px; }

.progress-bar2 {
  background: #fff;
  width: 100%;
  height: 1px;
  display: block;
  overflow: hidden; }

.progress-text {
  position: fixed;
  top: 50%;
  left: 0;
  width: 400px;
  text-align: center;
  font-size: 20px;
  font-family: 'Noto Sans TC', sans-serif; }

.loading {
  width: 400px;
  height: 41px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -28px 0 0 -200px; }



#WRAP {  
    position:relative;
    width:100%;
    max-width:640px;
    min-width:300px;
    height:auto;
    margin:0 auto;
    overflow:hidden;
}

.rapp{  
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #101010 url(../images/sorry.png) center center no-repeat;
  z-index: 102;
  display: none;
}
#COMIC{background: none;position: relative;overflow: hidden;}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10 & IE11 CSS styles go here */
  #COMIC{
    background:#101010;position: relative;overflow: hidden;display: none;
}
}
@media screen and (min-width: 0\0) {
  /*  IE9 . IE10 */
 #COMIC{
    background:#101010;position: relative;overflow: hidden;display: none;
}  
}  
@media \0screen\,screen\9 {
  /*  IE6 . IE7 . IE8 */
 #COMIC{
    background:#101010;position: relative;overflow: hidden;display: none;
}  
} 

.btn{width: 180px;line-height: 60px;background-color: none;border: 1px #000 solid; color: #000;text-align: center;font-weight: 300;font-size: 21px;letter-spacing: 3px;cursor: pointer;
-webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;}
.btn:hover{background-color: #000000;color: #fff;}




/*主視覺區塊*/
#KV{background: url(../images/1222_02.jpg);position: relative;height: 1026px;overflow: hidden;z-index: 99;}
#KV .kv-p{background: url(../images/kv-p.png);width: 640px;height: 706px;position: absolute;top: 310px;left: 0px;}
#KV .kv-p-bg{background: url(../images/kv-p-bg.png);width: 373px;height: 415px;position: absolute;top: 600px;left: 135px;
animation-name: bigg;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count:infinite;}
#KV h1{background: url(../images/kv-til.png);width: 640px;height: 205px;text-indent: -9999px;margin: 0 auto;margin-top: 100px;}
#KV .btn{background: url(../images/kv-btn.png);width: 240px;height: 65px;margin: 0 auto;text-indent: -9999px;margin-top: 5px;
filter: brightness(100%);
-webkit-transition: all 0.1s linear;
   -moz-transition: all 0.1s linear;
   -o-transition: all 0.1s linear;
   -ms-transition: all 0.1s linear;
   transition: all 0.1s linear;} 
#KV .btn:hover{filter: brightness(125%);}
#KV .sparkle{background:url('../images/sprkle.png');width: 219px;height: 208px;position: absolute;top: 700px;left: 180px;
animation-name: light2;
  animation-duration: 3.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count:infinite;}

/*影片區塊*/
#VIDEO{background: url(../images/1222_03.jpg);position: relative;height: 558px;overflow: hidden;z-index: 99;}
#VIDEO h1{background: url(../images/video-til.png);width: 342px;height: 116px;text-indent: -9999px;margin: 0 auto;margin-top: 30px;}
#VIDEO .border{width: 580px;height: 350px;border: 1px solid #f1bd91;margin: 0 auto;margin-top: 10px;}
#VIDEO .video-block{width: 94%;height: 320px;margin: 0 auto;margin-top: 14px;position: relative;}
#VIDEO .video-block iframe{width: 100%;height: 100%;position: absolute;top: 0;left: 0;}

/*彩妝師區塊*/
#MAKEUP{background: url(../images/1222_04.jpg);position: relative;height: 783px;overflow: hidden;z-index: 99;}
#MAKEUP h1{background: url(../images/makeup-til.png);width: 342px;height: 116px;text-indent: -9999px;margin: 0 auto;margin-top: 30px;}
#MAKEUP .owl-carousel{text-align: center;margin-top: 10px;position: relative;z-index: 2;}
#MAKEUP .owl-carousel .item{width: 640px;height: 573px;margin: 0 auto;display: inline-block;
filter: brightness(100%);
-webkit-transition: all 0.1s linear;
   -moz-transition: all 0.1s linear;
   -o-transition: all 0.1s linear;
   -ms-transition: all 0.1s linear;
   transition: all 0.1s linear;}
#MAKEUP .owl-carousel .item:hover{filter: brightness(125%);}
#MAKEUP .owl-carousel .item img{width: 100%;}
#MAKEUP .owl-carousel .owl-nav{position: absolute;width: 100%;top: 40%;background: none;}
#MAKEUP .owl-carousel .owl-prev{background:url('../images/arrow.png') ;transform: rotate(180deg);background-size: cover; position: absolute; width: 32px;height: 70px;text-indent: -9999px;left: 10px;top: 2%;opacity: 1;}
#MAKEUP .owl-carousel .owl-next{background:url('../images/arrow.png') ;background-size: cover;position: absolute;width:32px;height: 70px;text-indent: -9999px;right: 10px;top: 2%;opacity: 1;}
#MAKEUP .owl-carousel .owl-dots{z-index: 9999;position: absolute;bottom: -20px;width: 100%;}
#MAKEUP .owl-carousel .owl-theme .owl-dots .owl-dot span{width: 12px;height: 12px;background: #fff;opacity: 0.6;}
#MAKEUP .owl-carousel .owl-theme .owl-dots .owl-dot.active span{background: #fff;opacity: 1;}

/*部落客區塊*/
#BLOGGER{background: url(../images/1222_05.jpg);position: relative;height: 966px;overflow: hidden;z-index: 99;}
#BLOGGER h1{background: url(../images/blogger-til.png);width: 342px;height: 116px;text-indent: -9999px;margin: 0 auto;margin-top: 30px;}
#BLOGGER .blog{width: 282px;height: 301px;position: absolute;}
#BLOGGER .blog01{top: 160px;left: 25px;background: #252525;}
#BLOGGER .blog02{top: 160px;right: 25px;background: #252525;}
#BLOGGER .blog03{top: 550px;left: 180px;background: #252525;}
#BLOGGER .head{width: 282px;height: 301px;overflow: hidden;}
#BLOGGER .head img{width: 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .9s ease-in-out;
    transition: .9s ease-in-out;
}
#BLOGGER .blog:hover img{    
    -webkit-transform: scale(1.2);
    transform: scale(1.2);}
#BLOGGER .tag01{width: 103px;height: 44px;position: absolute;background: url(../images/tag01.jpg);top: 230px;left: 0;}
#BLOGGER .tag02{width: 103px;height: 44px;position: absolute;background: url(../images/tag02.jpg);top: 230px;left: 0;}
#BLOGGER .tag03{width: 103px;height: 44px;position: absolute;background: url(../images/tag03.jpg);top: 230px;left: 0;}
#BLOGGER .plus{width: 87px;height: 87px;position: absolute;background: url(../images/plus.png);bottom: 0;right: 0;}
#BLOGGER .plus{width: 87px;height: 87px;position: absolute;background: url(../images/plus.png);bottom: 0;right: 0;cursor: pointer;
filter: brightness(100%);
-webkit-transition: all 0.1s linear;
   -moz-transition: all 0.1s linear;
   -o-transition: all 0.1s linear;
   -ms-transition: all 0.1s linear;
   transition: all 0.1s linear;}
#BLOGGER .plus:hover{filter: brightness(125%);}

#BLOGGER h5{margin: 0 auto;font-size: 21px;font-weight: 400;text-align: center;margin-top: 15px;}

/*產品區塊*/
#PRODUCT{background: url(../images/1222_06.jpg);position: relative;height: 694px;overflow: hidden;z-index: 99;}
#PRODUCT h1{background: url(../images/pro-til.png);width: 640px;height: 69px;text-indent: -9999px;margin: 0 auto;margin-top: 30px;}
#PRODUCT .owl-carousel{text-align: center;margin-top: 30px;position: relative;z-index: 2;}
#PRODUCT .owl-carousel .item{width: 640px;height: 550px;margin: 0 auto;display: inline-block;}
#PRODUCT .owl-carousel .item .item01{background: url(../images/product01.png);width: 640px;height: 550px;}
#PRODUCT .owl-carousel .item .item02{background: url(../images/product02.png);width: 640px;height: 550px;}
#PRODUCT .owl-carousel .item .gobuy{background: url(../images/go-buy.png);width: 150px;height: 55px;cursor: pointer;position: absolute;top: 350px;left: 200px;
filter: brightness(100%);
-webkit-transition: all 0.1s linear;
   -moz-transition: all 0.1s linear;
   -o-transition: all 0.1s linear;
   -ms-transition: all 0.1s linear;
   transition: all 0.1s linear;}
#PRODUCT .owl-carousel .item .gobuy:hover{filter: brightness(125%);}
#PRODUCT .owl-carousel .item .gobuy2{background: url(../images/cos.png);width: 150px;height: 55px;cursor: pointer;position: absolute;top: 350px;left: 370px;
filter: brightness(100%);
-webkit-transition: all 0.1s linear;
   -moz-transition: all 0.1s linear;
   -o-transition: all 0.1s linear;
   -ms-transition: all 0.1s linear;
   transition: all 0.1s linear;}
#PRODUCT .owl-carousel .item .gobuy2:hover{filter: brightness(125%);}
#PRODUCT .owl-carousel .owl-nav{position: absolute;width: 100%;top: 70%;background: none;}
#PRODUCT .owl-carousel .owl-prev{display: none;}
#PRODUCT .owl-carousel .owl-next{background:url('../images/arrow-p.png') ;background-size: cover;position: absolute;width:147px;height: 60px;text-indent: -9999px;right: 10px;top: 2%;opacity: 1;}
#PRODUCT .owl-carousel .owl-dots{display: none;}


/*文章區塊*/
#ARTICLE{background: url(../images/1222_07.jpg);position: relative;height: 754px;overflow: hidden;z-index: 99;}
#ARTICLE h1{background: url(../images/art-til.png);width: 640px;height: 69px;text-indent: -9999px;margin: 0 auto;margin-top: 10px;}
#ARTICLE .owl-carousel{text-align: center;
  margin-top: 20px;
  position: relative;
z-index: 2;}
#ARTICLE .owl-carousel .item{width: 506px;height: 580px;margin: 0 auto;display: inline-block;}
#ARTICLE .owl-carousel .item img{width: 100%;}
#ARTICLE .owl-carousel .owl-nav{position: absolute;width: 100%;top: 25%;background: none;}
#ARTICLE .owl-carousel .owl-prev{background:url('../images/arrow.png') ;transform: rotate(180deg);background-size: cover; position: absolute; width: 32px;height: 70px;text-indent: -9999px;left: 10px;top: 2%;opacity: 1;}
#ARTICLE .owl-carousel .owl-next{background:url('../images/arrow.png') ;background-size: cover;position: absolute;width:32px;height: 70px;text-indent: -9999px;right: 10px;top: 2%;opacity: 1;}
#ARTICLE .owl-carousel .owl-dots{z-index: 9999;position: absolute;bottom: -40px;width: 100%;}
#ARTICLE .owl-carousel .owl-theme .owl-dots .owl-dot span{width: 12px;height: 12px;background: #fff;opacity: 0.6;}
#ARTICLE .owl-carousel .owl-theme .owl-dots .owl-dot.active span{background: #fff;opacity: 1;}

#ARTICLE .img-cube{width: 429px;height: 321px;border: 1px solid #f1bd91;position: absolute;top: 40px;left: 105px;}
#ARTICLE .img-block{width: 384px;height: 361px;margin: 0 auto;margin-top: 20px;overflow: hidden;}
#ARTICLE .img-block img{width: 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .9s ease-in-out;
    transition: .9s ease-in-out;
}
#ARTICLE .h3-1{background: url(../images/ar01-til.png);width: 384px;height: 113px;margin: 0 auto;}
#ARTICLE .h3-2{background: url(../images/ar02-til.png);width: 384px;height: 113px;margin: 0 auto;}
#ARTICLE .btna{background: url(../images/more.png);width: 195px;height: 55px;margin: 0 auto;margin-top: 10px;cursor: pointer;
filter: brightness(100%);
-webkit-transition: all 0.1s linear;
   -moz-transition: all 0.1s linear;
   -o-transition: all 0.1s linear;
   -ms-transition: all 0.1s linear;
   transition: all 0.1s linear;}
#ARTICLE .btna:hover{filter: brightness(125%);}
#ARTICLE .item:hover img{    
    -webkit-transform: scale(1.2);
    transform: scale(1.2);}

/*填單區塊*/
#QA{background: red;position: relative;height: 883px;overflow: hidden;z-index: 99;}
#QA h1{background: url(../images/form-til.png);width: 640px;height: 69px;text-indent: -9999px;margin: 0 auto;margin-top: 20px;}
#QA p{width: 85%;color: #fff;font-size: 20px;line-height: 1.5;margin: 0 auto;margin-top: 10px;font-weight: 300;letter-spacing: 2px;text-align: center;}
#QA p span{color: #e6b389; }
#QA p span.small{font-size: 15px;}

#QA .start{display: block;}
#QA .start-p{background: url(../images/start-p.png);width: 640px;height: 456px;margin: 0 auto;
  animation-name: light;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count:infinite;}
#QA .start-btn{background: url(../images/start-btn.png);width: 399px;height: 86px;margin: 0 auto;cursor: pointer;
filter: brightness(100%);
-webkit-transition: all 0.1s linear;
   -moz-transition: all 0.1s linear;
   -o-transition: all 0.1s linear;
   -ms-transition: all 0.1s linear;
   transition: all 0.1s linear;}
#QA .start-btn:hover{filter: brightness(125%);}

#QA .q-btn{background: url(../images/q-btn.png);width: 451px;height: 86px;margin: 0 auto;text-align: center;line-height: 86px;color: #000;font-weight: 400;font-size: 24px;cursor: pointer;filter: brightness(100%);user-select: none;
-webkit-transition: all 0.1s linear;
   -moz-transition: all 0.1s linear;
   -o-transition: all 0.1s linear;
   -ms-transition: all 0.1s linear;
   transition: all 0.1s linear;}
#QA .q-btn:hover{filter: brightness(125%);}
#QA .q1{display: none;}
#QA .q2{display: none;}
#QA .q3{display: none;}
#QA .q1-con{background: url(../images/q1.png);width: 640px;height: 540px;margin: 0 auto;position: relative;overflow: hidden;margin-top: 20px;}
#QA .q2-con{background: url(../images/q2.png);width: 640px;height: 540px;margin: 0 auto;position: relative;overflow: hidden;margin-top: 20px;}
#QA .q3-con{background: url(../images/q3.png);width: 640px;height: 540px;margin: 0 auto;position: relative;overflow: hidden;margin-top: 20px;}
#QA .btn1{margin-top: 240px;}
#QA .btn3{margin-top: 240px;}
#QA .btn5{margin-top: 240px;}
#QA .btn2{margin-top: 40px;}
#QA .btn4{margin-top: 40px;}
#QA .btn6{margin-top: 40px;}

#QA .share-btn{background: url(../images/q-btn.png);width: 451px;height: 86px;letter-spacing: 3px;margin: 0 auto;text-align: center;line-height: 86px;color: #000;font-weight: 500;font-size: 24px;cursor: pointer;filter: brightness(100%);
-webkit-transition: all 0.1s linear;
   -moz-transition: all 0.1s linear;
   -o-transition: all 0.1s linear;
   -ms-transition: all 0.1s linear;
   transition: all 0.1s linear;}
#QA .share-btn:hover{filter: brightness(125%);}
#QA .resultA{display: none;}
#QA .resultA-con{background: url(../images/resultA.png);width: 640px;height: 540px;margin: 0 auto;}
#QA .resultB{display: none;}
#QA .resultB-con{background: url(../images/resultB.png);width: 640px;height: 540px;margin: 0 auto;}


#QA .form{display: none;}
#QA .form ul{width: 520px;margin: 0 auto;margin-top: 20px;}
#QA .form li{font-size: 24px;font-weight: 300;margin-top: 20px;color: #000;}
#QA .form li .check{float: left;}
#QA .form li span{font-size: 17px;color: #fff;font-weight: 300;line-height: 17px;text-align: justify;width: 470px;float: right;margin-bottom: 40px;margin-right: 10px;letter-spacing: 2px;}
#QA .form li span a{text-decoration: underline;color: #fff;}
#QA .form input{color: #000; line-height:80px;height:70px;font-size:23px;padding-top:0px;width:490px;padding-left:20px;margin-left: 15px;font-weight: 300;border: 1px solid #aeaeae;outline: none; }
#QA .form .go-btn{background: url(../images/q-btn.png);font-weight: 500;letter-spacing: 3px; width: 451px;height: 86px;margin: 0 auto;text-align: center;line-height: 86px;color: #000;font-size: 24px;cursor: pointer;filter: brightness(100%);
-webkit-transition: all 0.1s linear;
   -moz-transition: all 0.1s linear;
   -o-transition: all 0.1s linear;
   -ms-transition: all 0.1s linear;
   transition: all 0.1s linear;}
#QA .form .go-btn:hover{filter: brightness(125%);}
#QA .form .award-time{margin: 20px auto;text-align: center;font-size: 20px;color: #e6b389;font-weight: 400;}

#privacy{width: 640px;height: auto;margin: 0 auto;font-weight: 200;font-size: 18px;line-height: 1.6;padding: 50px;overflow-x: auto;text-align: justify;}

/*FOOTER*/

#footer{background: url(../images/1222_09.jpg);position: relative;height: 100px;overflow: hidden;z-index: 99;}

.award-btn{cursor: pointer; background: #000000;width: 100%; max-width: 640px; font-size: 35px;color: #000;text-align: center;line-height: 100px;z-index: 999;position: fixed;bottom: 0;}
#award{width: 600px;height: 800px;overflow-x: auto;background: #212121;letter-spacing: 1px;padding: 50px;}
#award h1{color: #000;font-size: 35px;text-align: center;background:#e6b389; width: 70%;padding: 20px 0;margin: 0 auto;}
#award h2{color: #e6b389;font-size: 22px;line-height: 1.6;text-align: center;padding: 20px 0;}
#award h2 span{font-size: 14px;text-align: center;}
#award p{color: #fff;font-size: 20px;line-height: 1.8;text-align: center;outline: 1px #e6b389 solid;padding: 20px 0;font-weight: 300; }
#award p span{font-size: 16px;color: #e6b389;}

@keyframes bigg
{
0%   {
  opacity: 1;
   transform:scale(0.4);
    
  }

  50%   {
    opacity: 1;
  transform:scale(1.05);
  
  }
100% {
  opacity: 0;
  transform:scale(0.7);
  
  }
}
@-webkit-keyframes bigg
{
0%   {
   transform:scale(0.4);
   opacity: 1; 
  }

  50%   {
  transform:scale(1.05);
  opacity: 1;
  }
  
100% {
  transform:scale(0.7);
  opacity: 0;
  }
}
@keyframes light
{
0%   {
   transform:scale(1);
filter: brightness(100%);
  }

  50%   {
  transform:scale(1);
filter: brightness(130%);
  }
100% {
  transform:scale(1);
filter: brightness(100%);
  }
}
@-webkit-keyframes light
{
0%   {
   transform:scale(1);
filter: brightness(100%);
  }

  50%   {
  transform:scale(1);
filter: brightness(130%);
  }
  
100% {
  transform:scale(1);
filter: brightness(100%);
  }
}
@keyframes light2
{
0%   {
   transform:scale(0.8);
   opacity:0.8;
    transform: rotate(0deg);
  }

  50%   {
  transform:scale(1.9);
  opacity:1;
   transform: rotate(30deg);
  }
100% {
  transform:scale(0.8);
  opacity:0.8;
   transform: rotate(0deg);
  }
}
@-webkit-keyframes light2
{
0%   {
   transform:scale(0.8);
   opacity:0.8;
   transform: rotate(0deg);
  }

  50%   {
  transform:scale(1.9);
  opacity:1;
  transform: rotate(30deg);
  }
  
100% {
  transform:scale(0.8);
  opacity:0.8;
  transform: rotate(0deg);
  }
}