@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import 'reset.css';
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}
a,a:hover {text-decoration: none; outline: none; /* for Firefox */
 hlbr:expression(this.onFocus=this.blur()); /* for IE */
}

body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height:100%;
    /*background-color: #fff; color: #fff;*/
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    /*background: #1c1c1c;*/
    background: url('https://media.giphy.com/media/A5KN7dA7v5ju8/giphy.gif');
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
    font-family: 'Noto Sans TC', sans-serif;

}
.progress {
  background: #000;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 9999999999;
  text-align: center;
  top: 0;
  color: #000; }

.bar {
  width: 280px;
  height: 2px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 25px 0 0 -140px; }

.progress-bar {
  background: #d6b175;
  width: 0%;
  height: 1px;
  display: block;
  overflow: hidden;
  position: relative;
  top: -1px; }

.progress-bar2 {
  background: #fff;
  width: 100%;
  height: 1px;
  display: block;
  overflow: hidden; }

.progress-text {
  position: fixed;
  top: 50%;
  left: 0;
  width: 400px;
  text-align: center;
  font-size: 20px;
  font-family: 'Noto Sans TC', sans-serif; }

.loading {
  width: 400px;
  height: 41px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -28px 0 0 -200px; }



#WRAP {  
    position:relative;
    width:100%;
    max-width:640px;
    min-width:300px;
    height:auto;
    margin:0 auto;
    overflow:hidden;
}

.rapp{  
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #101010 url(../images/sorry.png) center center no-repeat;
  z-index: 102;
  display: none;
}
#COMIC{background: none;position: relative;overflow: hidden;}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10 & IE11 CSS styles go here */
  #COMIC{
    background:#101010;position: relative;overflow: hidden;display: none;
}
}
@media screen and (min-width: 0\0) {
  /*  IE9 . IE10 */
 #COMIC{
    background:#101010;position: relative;overflow: hidden;display: none;
}  
}  
@media \0screen\,screen\9 {
  /*  IE6 . IE7 . IE8 */
 #COMIC{
    background:#101010;position: relative;overflow: hidden;display: none;
}  
} 

.btn{width: 180px;line-height: 60px;background-color: none;border: 1px #000 solid; color: #000;text-align: center;font-weight: 300;font-size: 21px;letter-spacing: 3px;cursor: pointer;
-webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;}
.btn:hover{background-color: #000000;color: #fff;}

/*FOOTER*/

#footer{background: url(../images/1222_09.jpg);position: relative;height: 100px;overflow: hidden;z-index: 99;}

.award-btn{cursor: pointer; background: #000000;width: 100%; max-width: 640px; font-size: 35px;color: #000;text-align: center;line-height: 100px;z-index: 999;position: fixed;bottom: 0;}
#award{width: 600px;height: 800px;overflow-x: auto;background: #212121;letter-spacing: 1px;padding: 50px;}
#award h1{color: #000;font-size: 35px;text-align: center;background:#e6b389; width: 70%;padding: 20px 0;margin: 0 auto;}
#award h2{color: #e6b389;font-size: 22px;line-height: 1.6;text-align: center;padding: 20px 0;}
#award h2 span{font-size: 14px;text-align: center;}
#award p{color: #fff;font-size: 20px;line-height: 1.8;text-align: center;outline: 1px #e6b389 solid;padding: 20px 0;font-weight: 300; }
#award p span{font-size: 16px;color: #e6b389;}

@keyframes bigg
{
0%   {
  opacity: 1;
   transform:scale(0.4);
    
  }

  50%   {
    opacity: 1;
  transform:scale(1.05);
  
  }
100% {
  opacity: 0;
  transform:scale(0.7);
  
  }
}
@-webkit-keyframes bigg
{
0%   {
   transform:scale(0.4);
   opacity: 1; 
  }

  50%   {
  transform:scale(1.05);
  opacity: 1;
  }
  
100% {
  transform:scale(0.7);
  opacity: 0;
  }
}
@keyframes light
{
0%   {
   transform:scale(1);
filter: brightness(100%);
  }

  50%   {
  transform:scale(1);
filter: brightness(130%);
  }
100% {
  transform:scale(1);
filter: brightness(100%);
  }
}
@-webkit-keyframes light
{
0%   {
   transform:scale(1);
filter: brightness(100%);
  }

  50%   {
  transform:scale(1);
filter: brightness(130%);
  }
  
100% {
  transform:scale(1);
filter: brightness(100%);
  }
}
@keyframes light2
{
0%   {
   transform:scale(0.8);
   opacity:0.8;
    transform: rotate(0deg);
  }

  50%   {
  transform:scale(1.9);
  opacity:1;
   transform: rotate(30deg);
  }
100% {
  transform:scale(0.8);
  opacity:0.8;
   transform: rotate(0deg);
  }
}
@-webkit-keyframes light2
{
0%   {
   transform:scale(0.8);
   opacity:0.8;
   transform: rotate(0deg);
  }

  50%   {
  transform:scale(1.9);
  opacity:1;
  transform: rotate(30deg);
  }
  
100% {
  transform:scale(0.8);
  opacity:0.8;
  transform: rotate(0deg);
  }
}

@media (max-width: 768px) {
  body, html {
    background: url('https://media.giphy.com/media/A5KN7dA7v5ju8/giphy.gif');
    background-attachment: fixed;
    background-size: contain;
    background-position: center top;
  }
  
}

@media (max-width: 1024px) {
  body, html {
    background: url('https://media.giphy.com/media/A5KN7dA7v5ju8/giphy.gif');
    background-attachment: fixed;
    background-size: contain;
    background-position: center top;
  }
  
}